
<h1><span style="background-color:#ffffff"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#222222"><strong>Is </strong></span><span style="color:#222222"><strong>Nicotinamide Riboside Chloride</strong></span><span style="color:#222222"><strong> Safe?</strong></span></span></span></span></h1>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">A crystalline form of NR chloride termed NIAGEN has been evaluated in a battery of preclinical studies including a bacterial reverse mutagenesis assay, an in vitro chromosome aberration assay, an in vivo micronucleus assay, and acute, 14-day and 90-day rat toxicology. In the 90-day toxicology study, NR had a similar toxicity profile to NAM at equimolar doses, the lowest observed adverse effect level (LOAEL) for NR was 1000&thinsp;mg/kg/day, and the no observed adverse effect level (NOAEL) was 300&thinsp;mg/kg/day. NIAGEN is Generally Recognized as Safe (GRAS) in the United States for use in food products and the subject of two new dietary ingredient notifications which were filed with the United States Food and Drug Administration without objection.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">To date, NR has also been tested in six clinical trials. The first clinical trial of NR established the safe oral availability of single doses and the timecourse by which NR elevates the human blood NAD metabolome. The second trial provided additional safety data for healthy people taking NR for 8 days. The third and fourth trials addressed NR safety in healthy people either taking 500&thinsp;mg NR twice daily for 6 weeks or combination of up to 500&thinsp;mg NR and 100&thinsp;mg pterostilbene per day for 8 weeks. Whereas Dellinger et al. found that the combination of NR and pterostilbene signficantly elevated low density protein cholesterol (LDL-C) in a dose and time-depended fashion, no signficant increases in LDL-C were seen following the adminstration of NR alone. A fifth clinical trial documented the safety and tolerance of ingesting 2 grams NR per day for 12 weeks in obese men and post hoc analyses suggested that there was an improvement in fatty liver in the NR-treated group. In a sixth clinical trial, single 500&thinsp;mg doses of NR depressed markers of oxidative damage while increasing NADPH and exercise performance in older individuals.</span></span></p>

<ul>
	<li>
	<h1><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#232d37"><strong>2016: Let the clinical trials begin&nbsp;</strong></span></span></span></h1>
	</li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Clinical research examining the bioavailability of NR in supplemental form began in 2016. ChromaDex, a company that produces the NR supplement NIAGEN&reg;, sponsored the first published study conducted in humans. In this small&nbsp;</span></span><a href="https://www.ncbi.nlm.nih.gov/pubmed/27721479?dopt=Abstract"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">crossover study</span></span></a><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">, twelve healthy individuals were given three single doses of NR. Each subject completed each dose (100mg, 300mg, and 1,000mg) with a 7-day washout period between each one.&nbsp;The results showed that NR was bioavailable in supplement form and increased&nbsp;NAD+ in a dose-dependent manner&mdash;higher doses of NR resulted in more NAD+ present in the blood.&nbsp;</span></span></p>

<ul>
	<li>
	<h1><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#232d37"><strong>2017: Consistent results continue&nbsp;</strong></span></span></span></h1>
	</li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">More than a year later, two additional studies on humans were published. The&nbsp;</span></span><a href="https://www.nature.com/articles/s41514-017-0016-9"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">first one</span></span></a><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">, released in November 2017, was a self-funded study by supplement company Elysium Health, Inc. examining the safety and sustainability of Basis, its own supplement. Basis is a combination of NR and pterostilbene (PT), a polyphenol found in blueberries linked to anti-aging. The randomized, double-blind trial included 120 healthy subjects between the ages of 60-80 years old. They were assigned to one of three groups in which each completed eight weeks of daily supplementation:&nbsp;(1) a placebo group,&nbsp;(2) a dose of 250 mg NR + 50 mg PT, or&nbsp;(3) a dose of 500 mg NR + 100mg PT.&nbsp;The lower-dose group experienced a 40% increase in NAD+, while the double dose group&#39;s levels rose by ~90%.&nbsp;No adverse side effects were noted, and the researchers concluded that NR safely and effectively increases NAD+ levels.</span></span></p>

<p><span style="background-color:#ffffff"><span style="color:#232d37">&nbsp;</span><span style="color:#232d37">&nbsp;</span></span></p>

<p><span style="background-color:#ffffff"><span style="font-size:medium"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">A month later, a much smaller&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/29211728">study</a>&nbsp;showed similar results. Eight subjects took increasing doses of NR for eight days. Doses started at 250mg of NR on days one and two, then doubled every two days ending with 2,000mg on days seven and eight. Their blood was analyzed at baseline and day nine.&nbsp;Researchers found that NAD+ levels increased in all subjects, ranging from 35-168%.&nbsp;</span></span></span></span></p>

<ul>
	<li>
	<h1><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#232d37"><strong>2018: Disappointing results on metabolic function&nbsp;</strong></span></span></span></h1>
	</li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">In March 2018, a randomized crossover&nbsp;<a href="https://www.nature.com/articles/s41467-018-03421-7">trial</a>&nbsp;examined both the tolerability of NR supplementation in healthy adults and multiple secondary outcomes. ChromaDex also partially funded the study and provided the study pills. The study included 24 lean and healthy men and women between the ages of 55-79 years old. Half of them were placed in Group A, where they received a placebo for six weeks before crossing over to receive 1,000mg of NR capsules for the remaining six weeks. Subjects in Group B received the NR supplementation first, followed by the placebo.&nbsp;NR supplementation raised levels of NAD+ by ~60% compared to the placebo.&nbsp;Furthermore, people with lower blood cellular levels experienced a greater increase in NAD+ levels. The researchers also found that NR generally lowered blood pressure and reduced aortic stiffness, but these findings were not significant. Several other secondary outcomes did not improve, including physical activity, body fat, markers of exercise performance, or glucose and insulin regulation.</span></span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">In August 2018, a&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/29992272">study</a>&nbsp;specifically explored NR&rsquo;s effect on insulin sensitivity and other metabolic parameters in obese, insulin-resistant men. Forty men, between the ages of 40-70, were randomized into two groups. The experimental group received 2,000mg of NR per day for 12 weeks, while the control group received a placebo.&nbsp;The experimental group experienced no changes in insulin sensitivity and glucose metabolism.&nbsp;No differences in secondary outcomes were observed either, including resting energy expenditure, lipid metabolism, or body composition.</span></span></p>

<ul>
	<li>
	<h1><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#232d37"><strong>2019: Breakthroughs in ALS research and skeletal muscle</strong></span></span></span></h1>
	</li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Last year, researchers used Elysium Health&rsquo;s drug EH301 (essentially a clinical name for Basis) to test its efficacy on the progression of ALS. In this randomized control&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/30668199">trial</a>, 32 participants with ALS were given 1200mg of EH301 or a placebo for four months, and encouraged to follow a Mediterranean-style diet. The group taking EH301 showed significant improvements in ALS symptoms, pulmonary function, muscular strength, and muscle-to-fat weight ratio.&nbsp;The researchers concluded that EH301 significantly slowed the progression of ALS&nbsp;and&nbsp;improved other health outcomes associated with ALS.&nbsp;Elysium Health, Inc. has announced the initiation of several more clinical trials, including the effects of Basis on&nbsp;<a href="https://www.ptcommunity.com/wire/elysium-healthtm-announces-clinical-trial-explore-effect-basistm-liver-fat-accumulation-healthy">fatty liver</a>, muscle metabolism and&nbsp;<a href="https://www.ptcommunity.com/wire/elysium-healthtm-announces-initiation-clinical-trial-explore-effects-basistm-and-high-intensity">exercise performance</a>, and in preventing&nbsp;<a href="https://www.clinicaltrials.gov/ct2/show/NCT04342975">Acute Kidney Illness</a>.</span></span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">In 2019, another group of researchers evaluated NR&rsquo;s availability in skeletal muscle in older adults. Over 21 days, twelve 70 to 80-year-old men received a total of 1000mg of NR supplementation (NIAGEN&reg;) daily in this randomized control crossover&nbsp;<a href="https://www.biorxiv.org/content/10.1101/680462v1.full">trial</a>.&nbsp;The results showed that NR increased NAD+ in muscle and also exerted anti-inflammatory properties.&nbsp;</span></span></p>

<ol>
	<li>
	<h2><span style="background-color:#ffffff"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><strong>Where to Buy&nbsp;Nicotinamide Riboside Chloride&nbsp;Powder in Bulk?</strong></span></span></span></h2>
	</li>
</ol>

<p><span style="background-color:#ffffff"><span style="font-size:medium"><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">The demand for Nicotinamide Riboside supplements has increased considerably over the last few years, primarily because Nicotinamide Riboside has many advantages. If you are looking to foray into the Nicotinamide Riboside supplements market, the first thing you must do is find yourself a trustworthy and reliable raw materials supplier. Where to&nbsp;</span></span></span><a href="https://www.cofttek.com/product/23111-00-4/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><strong>buy&ensp;Nicotinamide Riboside Chloride&ensp;powder in bulk</strong></span></span></a><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">? The answer is&nbsp;</span></span></span><a href="https://www.cofttek.com/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><strong>Cofttek</strong></span></span></a><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">.</span></span></span></span></span></p>

<p><span style="background-color:#ffffff"><span style="font-size:medium"><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Cofttek is a raw materials supplier that came into existence in 2008 and in only about a decade, the company has established its presence in several countries. Other than producing reliable products, the company is also focussed on making advances in the field of biotechnology, chemical technology and chemical testing. The company is also committed to quality research, which gives it an edge over other suppliers in the market. The&nbsp;</span></span></span><a href="https://www.cofttek.com/product/23111-00-4/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><strong>Nicotinamide Riboside Chloride powder</strong></span></span></a><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">&nbsp;&nbsp;provided by the company comes in batches of 25 kgs and can be trusted for quality. Moreover, the company has excellent sales and customer support team which will take care of all your needs and enquiries in real-time. This, if you want to buy Nicotinamide Riboside Chloride powder in bulk, trust only Cofttek.</span></span></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#222222"><strong>References</strong></span></span></span></p>

<ol>
	<li>
	<p><a href="https://pubmed.ncbi.nlm.nih.gov/31278280/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Conze, D., Brenner, C. &amp; Kruger, C.L. Safety and Metabolism of Long-term Administration of NIAGEN (Nicotinamide Riboside Chloride) in a Randomized, Double-Blind, Placebo-controlled Clinical Trial of Healthy Overweight Adults.&ensp;</span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><em>Sci Rep</em></span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">9,&ensp;9772 (2019)</span></span></a></p>
	</li>
</ol>

<p><br />
&nbsp;</p>

<ol start="2">
	<li>
	<p><a href="https://pubmed.ncbi.nlm.nih.gov/32320006/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Carlijn M E Remie, Kay H M Roumans, Michiel P B Moonen, Niels J Connell, Bas Havekes, Julian Mevenkamp, Lucas Lindeboom, Vera H W de Wit, Tineke van de Weijer, Suzanne A B M Aarts, Esther Lutgens, Bauke V Schomakers, Hyung L Elfrink, Rub&eacute;n Zapata-P&eacute;rez, Riekelt H Houtkooper, Johan Auwerx, Joris Hoeks, Vera B Schrauwen-Hinderling, Esther Phielix, Patrick Schrauwen, Nicotinamide riboside supplementation alters body composition and skeletal muscle acetylcarnitine concentrations in healthy obese humans,&ensp;</span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><em>The American Journal of Clinical Nutrition</em></span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">, Volume 112, Issue 2, August 2020, Pages 413&ndash;426</span></span></a></p>
	</li>
</ol>

<p><br />
&nbsp;</p>

<ol start="3">
	<li>
	<p><span style="color:#222222"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Elhassan,Y. S., Kluckova, K., Fletcher, R. S., Schmidt, M. S., Garten, A., Doig, C. L., Cartwright, D. M., Oakey, L., Burley, C. V., Jenkinson, N., Wilson, M., Lucas, S., Akerman, I., Seabright, A., Lai, Y. C., Tennant, D. A., Nightingale, P., Wallis, G. A., Manolopoulos, K. N., Brenner, C., &hellip; Lavery, G. G. (2019).&nbsp;</span></span></span><a href="https://pubmed.ncbi.nlm.nih.gov/31412242/"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">Nicotinamide Riboside Augments the Aged Human Skeletal Muscle NAD+ Metabolome and Induces Transcriptomic and Anti-inflammatory Signatures.&ensp;</span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><em>Cell reports</em></span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">,&ensp;</span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><em>28</em></span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium">(7), 1717&ndash;1728.e6.</span></span></a></p>
	</li>
</ol>

<p><br />
&nbsp;</p>

<ol start="4">
	<li>
	<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#222222">FDA. New Dietary Ingredient Notification 882 for Nicotinamide riboside chloride (2015).</span></span></span></p>
	</li>
</ol>

<p><br />
&nbsp;</p>

<ol start="5">
	<li>
	<p><span style="background-color:#ffffff"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:medium"><span style="color:#222222">FDA. New Dietary Ingredient Notification 1062 for Nicotinamide riboside chloride (2018).</span></span></span></span></p>
	</li>
</ol>

<p>&nbsp;</p>
